/* general rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}




/* Header rules */
header {
    background-color: hsl(25deg 100% 50%);
}

.containerh {
    background-color: hsl(25deg 100% 50%);
    max-width: 1230px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

i,
a {
    color: hsl(0deg 0% 100%);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#boolean {
    width: 100px;
    height: auto;
}

/* star rules of main */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1300px;

}

img {
    width: 400px;
    height: 600px;
}

.card {
    max-width: calc(90% / 3);
    margin: 15px;
    position: relative;
}

.card:hover .heart {
    color: red;
}

.red {
    color: red;
}

.cut {
    color: grey;
    text-decoration: line-through;
}

.eco {
    background-color: green;
    color: aliceblue;
    padding: 5px;
}

.sales {
    background-color: red;
    color: aliceblue;
    padding: 5px;
}

.colors {
    position: absolute;
    bottom: 120px;
    left: 0px;
}

.heart {
    font-size: 40px;
    background-color: white;
    position: absolute;
    width: 60px;
    top: 20px;
    right: -10px;
    text-align: center;
}


#one {
    position: absolute;
    top: 0;
}

#two {
    position: absolute;
    top: 0;
}

#three {
    position: absolute;
    top: 0;
    display: block;
}

#four {
    position: absolute;
    top: 0;

}

#five {
    position: absolute;
    top: 0;

}

#six {
    position: absolute;
    top: 0;

}

.container-img .pic1 {
    display: none;

}

.container-img .pic2 {
    display: block;
}

.container-img .pic2:hover {
    display: none;

}

.container-img .pic1:hover {
    display: block;
}




/* rules of footer */

footer {
    background-color: hsl(0deg 0% 10%);
    height: 80px;
}

.containerf {
    max-width: 1230px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin: 0 auto;

}

h3 {
    color: white;
}

#social {
    text-align: center;
}

.containerf>div {
    line-height: 1.5;
}