/* general rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}




/* Header rules */

.containerh {
    background-color: hsl(25deg 100% 50%);
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

i,
a {
    color: hsl(0deg 0% 100%);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#boolean {
    width: 100px;
    height: auto;
}

/* star rules of main */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1300px;

}

img {
    width: 400px;
    height: 600px;
}

.card {
    max-width: calc(90% / 3);
    margin: 15px;
    position: relative;
}

.red {
    color: red;
}

.cut {
    color: grey;
    text-decoration: line-through;
}

.eco {
    background-color: green;
    color: aliceblue;
    padding: 5px;
}

.sales {
    background-color: red;
    color: aliceblue;
    padding: 5px;
}

.colors {
    position: absolute;
    bottom: 120px;
    left: 0px;
}

.heart {
    font-size: 40px;
    background-color: white;
    position: absolute;
    width: 60px;
    top: 20px;
    right: -10px;
    text-align: center;
}